@import "base/typography";

$thick-border: 2px solid #555;
$thin-border: 1px solid #555;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul { list-style-type: none; }

a {
  color: #b63b4d;
  text-decoration: none;
}

.menu {
    font-size: 5vw;
    color: #FFF;
    background: #9CE35A;
    position: absolute;
    padding: 3.5%;
    top: 0%;
    border: 1px solid #555;
    vertical-align: middle;
    box-shadow: 0 2px #333;
    border-radius: 3px;
  

  &:hover {
    background: #74BF2E;
    color: #F3ECA1;
  }
  
  &:focus {
    outline: none;
  }
}
.submenu {
  width: 100%;
  background: #9CE35A;
  font-size: 4.5vw;
  margin: 0 2em 0 0;
}

.submenu li { border-bottom: 1px solid #4b4a5e; }

.submenu a {
  display: block;
  text-decoration: none;
  font-family: $sans-serif;
  color: #FFF;
  padding: .3em;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  text-align: center;
}

.submenu a:hover {
  background: #1CB1AC;
  color: #F3ECA1;
}